@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400;700&family=Heebo:wght@400;500;700;900&display=swap');
/* font-family: 'Courier Prime', monospace;
font-family: 'Heebo', sans-serif; */
:root {
  --primaryColor: #0060B0;
  --primaryDarkColor: gray;
  --primaryHoverColor: lightgray;
  --secondaryColor: white;
}
html {
  scroll-behavior: smooth;
  z-index: 10;
}
nav {
  z-index: 5000;
}
#mission {
  height: 400px;
  margin-left: 5%;
  margin-top: 18%;
  border: 4px solid lightgray;
  box-shadow: 65px 65px 85px 85px gray
}
#mobile-mission {
  display: none;
}
#steno-img {
  height: 500px;
  width: 900px;
  border-radius: 10px;
  border: 3px solid gray;
  box-shadow: 65px -50px 65px rgb(71, 70, 70);
  opacity: .2;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100;
  position: relative;
  margin-top: -38%;
  margin-left: 33%;
  overflow: hidden
}
.landing-paragraph {
  position: relative;
  margin-left: 600px;
  margin-top: -20%;
  z-index: 15;
  font-size: 1.5em;
  color: #0060B0;
  padding-bottom: 70px;
}
.landing-paragraph a {
  color: #0060B0;
}
.landing-paragraph a:hover {
  color: gray;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: sans-serif;
  font-size: 16px;
}
nav {
  margin-top: 50px;
  position: fixed;
  top: -50px;
  width: 100%;
  transition: top 0.3s;
  background: #0060B0;
  padding: 0 15px;
}
a {
  color: white;
  text-decoration: none;
}
.menu a {
  color: white;
  text-decoration: none;
}
.menu,
.submenu {
  list-style-type: none;
  z-index: 1500;
}
.submenu-active a {
  z-index: 1750;
}
.submenu a {
  font-size: smaller;
}
.logo {
  font-size: 20px;
  padding: 7.5px 10px 7.5px 0;
}
.item {
  padding: 10px;
  color: white;
}
.item.button {
  padding: 9px 5px;
}
.item:not(.button) a:hover,
.item a:hover::after {
  color: gray;
}

/* Mobile menu */
.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.menu li a {
  display: block;
  padding: 15px 5px;
}
.menu li.subitem a {
  padding: 15px;
}
.toggle {
  order: 1;
  font-size: 20px;
  margin-right: 5px;
}
.toogle a {
  visibility: visible;
}
.item.button {
  order: 2;
}
.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.active .item {
  display: block;
}
.button.secondary {
  /* divider between buttons and menu links */
  border-bottom: 2px gray solid;
}

/* Submenu up from mobile screens */
.submenu {
  display: none;
  border: 3px solid gray;
  cursor: pointer;
}
.submenu-active .submenu {
  display: block;
}
.has-submenu i {
  font-size: 10px;
}
.has-submenu > a::after {
  font-family: "Font Awesome 5 Free";
  font-size: 12px;
  color: white;
  line-height: 16px;
  font-weight: 900;
  content: "\f078";
  padding-left: 5px;
}
.subitem a {
  padding: 10px 15px;
}
.submenu-active {
  background-color: #0060B0;
  border-radius: 3px;
}

/* Tablet menu */
@media all and (min-width: 700px) {
  .menu {
    justify-content: center;
  }
  .logo {
    flex: 1;
  }
  .item.button {
    width: auto;
    order: 1;
    display: block;
  }
  .toggle {
    flex: 1;
    text-align: right;
    order: 2;
  }
  /* Button up from tablet screen */
  .menu li.button a {
    padding: 10px 15px;
    margin: 5px 0;
  }
  .button a {
    background: #0080ff;
    border: 1px royalblue solid;
  }
  .button.secondary {
    border: 0;
  }
  .button.secondary a {
    background: transparent;
    border: 1px gray solid;
  }
  .button a:hover {
    text-decoration: none;
  }
  .button:not(.secondary) a:hover {
    background: gray;
    border-color: lightgray;
  }
}

/* Desktop menu */
@media all and (min-width: 960px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    background: none;
  }
  .logo {
    order: 0;
  }
  .item {
    order: 1;
    position: relative;
    display: block;
    width: auto;
    margin-top: 25px;
    font-size: 1.2em;
  }
  .button {
    order: 2;
  }
  .submenu-active .submenu {
    display: block;
    position: absolute;
    width: 180px;
    left: -15px;
    top: 68px;
    background: #0060B0;
  }
  .submenu-active a .submenu a {
    margin-right: 65px;
  }
  .toggle {
    display: none;
  }
  .submenu-active {
    border-radius: 0;
  }
  .has-submenu {
    cursor: pointer;
  }
}
/* End Navigation */

.sliderOuter {
  position: relative;
}
.sliderOuter .swiper-button-next.swiperBtnStyle {
  right: -50px;
}
.sliderOuter .swiper-button-prev.swiperBtnStyle {
  left: -50px;
}
.sliderOuter .swiper-slide {
  height: auto;
}
.swiperPaginationStyle span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: var(--primaryColor);
}
.posInitial {
  position: initial;
}
.testimonialCol {
  padding-top: 35px;
  margin-left: 300px;
  margin-right: 300px;
}
.tContentCol {
  margin-left: 30px;
}
.tContentCol > p:last-child {
  margin-bottom: 0;
}
.swiperBtnStyle {
	font-weight: bold;
}
.swiper-button-next.swiperBtnStyle::after, .swiper-button-prev.swiperBtnStyle::after {
  font-size: 16px;
}
.swiperBtnStyle.swiper-button-prev {
	left: 2px;
}
.swiperBtnStyle.swiper-button-next {
	right: 2px;
}
.testimonialSlider {
	padding: 30px 0;
}
.testimonialSlider .swiper-slide {
  padding: 0 40px;
}

/* Pages */
.page-header {
  font-family: 'Courgette', cursive;
  margin-top: 175px;
  margin-left: 19.5%;
  text-align: left;
  color: #0060B0;
}
.page-header h1 {
  font-size: 2.1em;
  font-weight: bold;
  font-family: 'Courgette', cursive;
}
.page-header p {
  font-size: 2.1em;
  font-family: 'Courgette', cursive;
  font-weight: bold;
}
.tv-header {
  text-align: center;
  color: #0060B0;
  margin-top: 10px;
}
.request-header {
  font-family: 'Courgette', cursive;
  font-size: 2.1em;
  font-weight: bold;
  margin-top: 250px;
  text-align: center;
  font-size: 2.0em;
  color: #0060B0;
}
#request-img {
  opacity: .2;
  z-index: 1;
  width: 35%;
  margin: auto;
  display: block;
  position: relative;
  height: 265px;
}
.request-btn {
  margin-left: 83%;
  margin-top: -7%;
  border: 2px solid gray;
}
.request-btn-contact:hover {
  filter: opacity(85%);
}
#bio-req-btn {
  margin-top: -7%;
  margin-left: 85%;
  border: 2px solid gray;
}
#bio-req-btn:hover {
  filter: opacity(85%);
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  height: 200px;
  margin-top: 25px;
}
#bio-btn {
  margin-left: 85%;
  margin-top: 5px;
  color: white;
  font-size: larger;
  background-color: #0060B0 !important;
  border: 2px solid gray;
  width: 100px;
  height: 45px;
  cursor: pointer;
}
#bio-btn:hover {
  filter: opacity(85%);
}
#req-btn {
  margin-left: 85%;
  margin-top: -13%;
  border: 2px solid gray;
}
#req-btn:hover {
  filter: opacity(85%);
}
#req-btn-about {
  margin-left: 85%;
  margin-top: 150px;
  border: 2px solid gray;
}
#req-btn-about:hover {
  filter: opacity(85%);
}
#btn1 {
  background-color: #0060B0 !important;
  border: 2px solid gray;
  z-index: 98;
  position: absolute;
  margin-top: -15%;
  margin-left: -7%;
}
#btn2 {
  background-color: #0060B0 !important;
  border: 2px solid gray;
  z-index: 97;
  position: absolute;
  margin-top: -8%;
  margin-left: -7%;
}
#btn1:hover, #btn2:hover {
  filter: opacity(85%);
}
.page-content {
  margin-top: 60px;
  margin-left: 20%;
  margin-right: 20%;
  padding-bottom: 75px;
  font-size: 1.5em;
  color: #0060B0;
}
.contact-header {
  text-align: center;
  color: #0060B0;
  margin-top: 200px;
  font-size: larger;
}
.cont-header {
  text-align: center;
  font-family: 'Courgette', cursive;
  color: #0060B0;
  font-size: 2.1em;
  margin-top: 10px;
  font-weight: bold;
}
.contact {
  text-align: center;
  margin-top: 170px;
}
.contact p {
  font-size: 2.1em;
  font-family: 'Courgette', cursive;
  font-weight: bold;
  color: #0060B0;
}
.address {
  margin-top: 5px;
  font-size: 1.2em;
}
.email:hover {
  filter: opacity(85%);
}
.page-req:hover {
  filter: opacity(85%);
}
.about-header {
  margin-top: -110px;
  margin-left: 15px;
  font-size: 2.8em;
  font-family: 'Courgette', cursive;
  font-weight: bold;
  color: #0060B0;
}
.about-content {
  margin-top: 55px;
  padding-top: 70px;
  max-width: 80%;
  margin-left: 15%;
  margin-right: 15%;
  font-size: 1.5em;
  color: #0060B0;
  padding-bottom: 40px;
}
.biography {
  margin-top: 200px;
  margin-bottom: 200px;
}
.biography h1 {
  font-family: 'Courgette', cursive;
  font-size: 2.8em;
  font-weight: bold;
  margin-top: -55px;
  color: #0060B0;
  margin-left: 15px;
}
.biography p {
  font-size: 1.2em;
  margin-top: 25px;
  float: right;
  color: rgb(78, 78, 82);
  padding-bottom: 5%;
}
.name-header {
  font-size: 1.5em;
  font-family: 'Courgette', cursive;
  font-weight: bold;
  color: #0060B0;
}
.kala {
  margin-top: 70px;
}
.kala, .cindy, .jane, .wanda {
  box-sizing: content-box;
  text-align: center;
  width: 800px;
  margin-left: 22.5%;
}
.req-link:hover {
  filter: opacity(80%);
}

/* footer */
.footer-box {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  background-color: #0060B0;
  padding-bottom: 10px;
}
.text-center {
  text-align: center;
  font-family: 'Lobster', cursive;
  background-color: #0060B0;
  color: white;
  font-size: 1.6em;
  padding-top: 20px;
}
.row {
  margin-top: 25px;
}
.footer-title {
  margin-top: 20px;
  color: white;
  padding-right: 5px;
  padding-bottom: 15px;
}
.footer-title h2 {
  margin-bottom: 20px;
  font-size: 1.5em;
}
.footer-link-social ul {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.footer-link-social li {
  list-style: none;
}
.footer-link-social img {
  border: 3px solid gray;
  border-radius: 10px;
  height: 35px;
  width: 35px;
}
.footer-link-social img:hover {
  filter: opacity(85%);
}
.footer-link a {
  font-size: larger;
  padding: 5px;
}
.footer-link a:hover {
  color: gray;
}
.footer-bottom {
  background-color: #0060B0;
}
.made-by {
  text-align: center;
}
.created {
  font-size: 0.9em;
  color: white;
  padding-bottom: 15px;
}

/* services page */
.service-header {
  margin-top: 25px;
  text-align: center;
  color: #0060B0;
  font-family: 'Courgette', cursive;
  font-size: 2.8em;
  font-weight: bold;
}
.service-container {
  display: grid;
  padding: 2rem;
  grid-template-columns: min-content 1fr;
  gap: 2rem;
  margin: 45px auto;
}
.service-container img {
  border-radius: 6px;
  width: 325px;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}
.service-content {
  margin-top: 25px;
}
.service-content p {
  font-size: 1.2em;
}
.dateLbl {
	padding: 4px 12px;
	background-color: #0060B0;
	border-radius: 20px;
  border: 2px solid gray;
	color: #fff;
	font-size: 18px;
	line-height: 1;
	font-weight: var(--bold);
}
.dateLbl:hover {
  filter: opacity(85%);
}
#req-btn-services {
  margin-left: 85%;
  margin-top: 10%;
  border: 2px solid gray;
}
#req-btn-services:hover {
  filter: opacity(85%);
}


@media (min-width:576px) {
  .swiper-pagination {
    display: none;
  }
}

@media (max-width:1199px) {
  
  .xlTitle {
  	font-size: 40px;
  }
  .lgTitle {
  	font-size: 28px;
  }
  .mdTitle {
  	font-size: 24px;
  }
  .btn {
  	font-size: 18px;
  }
  .cs1Title {
  	min-height: 60px;
  }
  .bannerSection {
  	padding: 150px 0 60px;
  }
  .sectionSpace {
  	padding: 60px 0;
  }
  .footerCol {
  	padding: 30px 0;
  }
  .innerPageBannerCol {
  	padding: 150px 0 100px;
  }
}

@media (max-width:991px) {
  .sliderOuter .swiper-button-next.swiperBtnStyle {
    right: -20px;
  }
  .sliderOuter .swiper-button-prev.swiperBtnStyle {
    left: -20px;
  }
  .navCol a {
  	font-size: 16px;
  }
  .xlTitle {
  	font-size: 32px;
  }
  body {
    font-size: 14px;
  }
  .bannerUserImg {
  	margin-left: 20px;
  	width: 220px;
  	height: 220px;
  }
  .btn {
  	font-size: 16px;
  }
  .bannerBtnCol {
  	padding-top: 10px;
  }
  .smTitle {
  	font-size: 18px;
  }
  .keySkillCard + .keySkillCard {
  	padding-top: 20px;
  }
  .keySkillCol {
  	width: 250px;
  }
  .cs1Title {
  	min-height: auto;
  }
  .innerPageBannerCol{
  	padding: 120px 0 50px;
  }
  .portfolioRow .pColMain:nth-child(2n-1) .pCol {
  	margin-top: -70px;
  }
  .portfolioContentMain {
  	padding: 30px 0;
  }
}

@media (max-width:767px) {
  .tImgCol {
  	margin-right: 0;
  }
  .socialCol img {
  	max-width: 20px;
  	max-height: 20px;
  }
  .socialCol li + li {
  	padding-left: 20px;
  }
  .copyrightCol {
  	padding: 15px 0 0;
  	font-size: 12px;
  }
  .footerCol {
  	padding: 20px 0;
  }
  .mdTitle {
  	font-size: 22px;
  }
  .lgTitle {
  	font-size: 24px;
  }
  .smText {
  	font-size: 18px;
  }
  .dateLbl {
  	font-size: 15px;
  }
  .sectionSpace {
  	padding: 50px 0;
  }

  .portfolioRow .pColMain:nth-child(2n-1) .pCol {
  	margin-top: 0;
  }
  .innerPageBannerCol {
  	padding: 100px 0 30px;
  }
}

@media(max-width:575px) {
  .sliderOuter .swiper-button-prev.swiperBtnStyle ,
  .sliderOuter .swiper-button-next.swiperBtnStyle {
    display: none;
  }
  .testimonialSlider .swiper-slide {
  	padding: 0 0px 50px;
  }
  .swiperBtnStyle.swiper-button-next {
  	right: auto;
  	top: auto;
  	bottom: 0;
  	left: 50%;
  	margin-left: 5px;
  }
  .swiperBtnStyle.swiper-button-prev {
  	left: auto;
  	top: auto;
  	bottom: 0;
  	right: 50%;
  	margin-right: 5px;
  }
  .testimonialSlider {
  	padding: 10px 0 0;
  }
  .sectionSpace {
  	padding: 40px 0;
  }
  .cardStyle1 {
  	padding: 15px;
  }
  .btn {
  	font-size: 14px;
  }
  .xlTitle {
  	font-size: 26px;
  }
  .lgTitle {
  	font-size: 22px;
  }
  .mdTitle {
  	font-size: 20px;
  }
  .swiperBtnStyle {
  	width: 30px;
  	height: 30px;
  }
  .swiper-button-next.swiperBtnStyle::after, .swiper-button-prev.swiperBtnStyle::after {
  	font-size: 14px;
  }
}

@media (min-width: 1158px) and (max-width: 1280px) {
  #steno-img {
    height: 500px;
    width: 800px;
    border-radius: 10px;
    border: 3px solid gray;
    box-shadow: 65px -50px 65px rgb(71, 70, 70);
    opacity: .2;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
    position: relative;
    margin-top: -150%;
    margin-left: 35%;
    overflow: hidden
  }
  #req-btn-about {
    margin-left: 80%;
  }
  #bio-btn {
    margin-left: 80%;
  }
}

@media (min-width: 768px) and (max-width: 1157px) {
  #steno-img {
    height: 300px;
    width: 500px;
    border-radius: 10px;
    border: 3px solid gray;
    box-shadow: 65px -50px 65px rgb(71, 70, 70);
    opacity: .2;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -100;
    position: relative;
    margin-top: -150%;
    margin-left: 37%;
    overflow: hidden
  }
  #mission {
    margin-top: 185px;
    margin-left: 15px;
  }
  .landing-footer {
    width: 100%;
  }
  .landing-paragraph {
    position: relative;
    width: 475px;
    margin-left: 350px;
    margin-top: -36%;
    z-index: 1;
    font-size: 1.5em;
    color: #0060B0;
    padding-bottom: 70px;
  }
  .req-link {
    
    padding-top: -100px;
  }
  .testimonialCol {
    font-size: larger;
    padding-top: 75px;
    padding-bottom: 50px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  #bio-req-btn {
    margin-left: 75%;
  }
  .kala, .cindy, .jane, .wanda {
    box-sizing: content-box;
    text-align: center;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  #req-btn-about {
    margin-left: 75%;
  }
  #bio-btn {
    margin-left: 75%;
  }
  #req-btn-services {
    margin-top: 150px;
    margin-left: 75%;
  }
  .page-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 601px) and (max-width: 767px) {
  #mobile-mission {
    visibility: hidden;
  }
  #mission {
    visibility: visible;
  }
  .landing-paragraph {
    display: block;
    margin-top: 10%;
    z-index: 1;
  }
  .req-link {
    margin-top: 50px;
  }
  
}


@media (min-width: 460px) and (max-width: 600px) {
  
  .landing-paragraph {
    display: block;
    width: 95%;
    height: 500px;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
  }
  #mobile-mission {
    height: 50%;
    width: 40%;
  }
}

@media (max-width: 767px) {
  nav {
    margin-top: 70px;
  }
  #mission {
    display: none;
  }
  #mobile-mission {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 160px;
    width: 95%;
  }
  #steno-img {
      display: none;
  }
  #req-btn-contact {
    width: 175px;
  }
  .page-req {
    width: 175px;
  }
  .req-link {
    display: flex;
    margin-left: 3px;
    max-width: 200px;
    max-height: 80px;
    margin-top: -50%;
    
  }
  .landing-row {
      margin-top: 20px;
  }
  .testimonialCol {
    max-width: 100%;
    margin-left: 5px;
    margin-right: 5px;
    padding-bottom: 20px;
  }
  .landing-box {
    height: 600px;
  }

  .landing-paragraph {
    box-sizing: content-box;
    background-color: lightgray;
    width: auto;
    height: auto;
    padding-left: 3px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    font-size: 1.8em;
    z-index: 1;
  }

  .landing-footer {
    margin-top: 300px;
  }
  
  .machine-img {
    visibility: hidden;
  }
  .logo p {
      width: 400px;
      height: 125px;
      text-align: center;
      background-color: #0060B0;
      color: white;
      font-size: 1.2em;
      padding-left: 5px;
      padding-right: 5px;
      border: 4px solid gray;
      box-shadow: 25px 25px 50px 25px gray;
  }
  .about-header {
    margin-top: -90px;
  }
  .about-header .btn {
    max-width: 200px;
    max-height: 75px;
  }
  #req-btn-about {
    margin-top: 170px;
    margin-left: 55%;
    width: 175px;
  }
  #bio-btn {
    margin-left: 55%;
  }
  .about-content {
    margin-left: 45px;
    margin-right: 5px;
    padding-bottom: 25px;
  }
  .cont-header {
    margin-top: 15px;
  }
  .request-btn {
    display: block;
    max-height: 100px;
    max-width: 200px;
  }
  .footer-box {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #0060B0;
    padding-bottom: 10px;
  }
  .footer-title {
    margin-left: 3px;
  }
  .footer-link {
    margin-left: 3px;
  }
  .footer-link-social {
    margin-left: 3px;
  }
  .footer-link-social img {
    justify-content: flex-start;
  }
  .request-btn-contact {
    margin-top: 15px;
  }
  .biography {
    margin-top: 200px;
    margin-bottom: 30px;
  }
  .biography h1 {
    font-family: 'Courgette', cursive;
    font-size: 2.1em;
    font-weight: bold;
    margin-top: -55px;
    color: #0060B0;
    margin-left: 10px;
  }
  .biography p {
    font-size: 1.2em;
    margin-top: 25px;
    float: left;
    color: rgb(78, 78, 82);
    padding-bottom: 15%;
  }
  .name-header {
    font-size: 1.5em;
    font-family: 'Courgette', cursive;
    font-weight: bold;
    color: #0060B0;
  }
  .kala {
    margin-top: 70px;
  }
  .kala, .cindy, .jane, .wanda {
    box-sizing: content-box;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }
  .jane p {
    padding-bottom: 50px;
  }
  #bio-footer {
    margin-top: 300px;
    max-width: 100%;
  }
  #bio-req-btn {
    margin-left: 55%;
    width: 175px;
  }
  .service-container {
    display: block;
    text-align: center;
    margin: auto;
  }
  .service-content {
    position: relative;
    text-align: center;
  }
  .service-header {
    margin-top: 55px;
  }
  #req-btn-services {
    margin-left: 55%;
    margin-top: 175px;
    width: 175px;
  }
  .page-content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .center {
    width: 240px;
    height: 120px;
  }
  .request-header  {
    margin-top: 200px;
  }
  .request-container {
    margin-top: -80px;
  }
  #request-img {
    width:95%;
    margin-right: auto;
    margin-left: auto;
    height: 200px;
    margin-bottom: -10px;
  }
  #btn1 {
    background-color: #0060B0 !important;
    border: 2px solid gray;
    z-index: 98;
    position: absolute;
    margin-top: -25%;
    margin-left: -13%;
  }
  #btn2 {
    background-color: #0060B0 !important;
    border: 2px solid gray;
    z-index: 97;
    position: absolute;
    margin-top: -13%;
    margin-left: -11.5%;
  }
}

@media (max-width: 280px) {
  #mobile-mission {
    margin-top: 125px;
  }
  .menu img {
    width: 110px;
    height: 50px;
  }
  .landing-paragraph {
    font-size: 0.9em;
    margin-top: -330px;
    z-index: 1;
  }
  .testimonialCol {
    font-size: smaller;
  }
  .about-header {
    font-size: 2.0em;
    margin-top: -85px;
  }
  #req-btn-about {
    margin-left: 70%;
    margin-top: 115px;
    width: 80px;
    height: 35px;
  }
  #bio-btn {
    margin-left: 70%;
    width: 70px;
    height: 30px;
    font-size: smaller;
  }
  .about-content {
    margin-top: -5px;
  }
  .biography {
    margin-top: 160px;
  }
  #bio-req-btn {
    margin-left: 70%;
    width: 80px;
    height: 35px;
    margin-top: -35px;
  }
  .request-header  {
    margin-top: 100px;
  }
}
